*{ margin: 0px; padding: 0px; }

body{
    background-color: hsl(217, 54%, 11%);
    color: white;
   
}

.conteudo{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.card{
    background-color: hsl(216, 50%, 16%);
    width: 300px;
    display: flex;
    justify-content: center;
    padding: 30px;
    margin-top: 80px;
    border-radius: 20px;
    flex-wrap: wrap;
}

.image_equi{
    position: relative;
}

.olho{
    position: absolute;
      
}

.olho a img{
    color: transparent;
    opacity: 0;
}

.olho a img:hover{
    color: transparent;
    background-color: hsl(178, 100%, 50%);
    opacity: 0.6;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    
}

.image_equi img{
    width: 300px;
    height: 300px;
    border-radius: 10px;

}

.titulo{
    font-family: 'Outfit', sans-serif;
    display: flex;
    width: 300px;
    padding-top: 30px;
    
}

.titulo h1 a{
    text-decoration: none;
    color: white;
}

.titulo h1 a:hover{
    color: hsl(178, 100%, 50%);
    
}

.text{
    width: 300px;
    font-family: 'Outfit', sans-serif;
    padding-top: 20px;
}

.text p{
    font-weight: 300;
    color: hsl(215, 51%, 70%);
    line-height: 25px;
}

.bots{
    font-family: 'Outfit', sans-serif;
    width: 300px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

#bot_1{
    
    align-items: center;
    display: flex;
    padding-top: 10px;
    width: 95px;
    justify-content: space-between;
    font-weight: 600;
    color: hsl(178, 100%, 50%);
}

#bot_2{
    align-items: center;
    display: flex;
    padding-top: 10px;
    width: 95px;
    justify-content: space-between;
    color: hsl(215, 51%, 70%);
}

.autor{
    padding-top: 20px;
    width: 300px;
    display: flex;
    align-items: center;
    font-family: 'Outfite', sans-serif;
    font-size: 14px;
    color: hsl(215, 51%, 70%);
    
}
.autor img{
    width: 35px;
    height: 35px;
    border: 1px solid white;
    border-radius: 50px;
}
.autor p{
    margin-left: 10px;
}
.autor p a{
    text-decoration: none;
    color: white;
}
.autor p a:hover{
    color: hsl(178, 100%, 50%);
}

.linha{
    width: 300px;
    border-bottom: solid 0.1px hsl(215, 52%, 70%);
    padding-top: 10px;
}
footer{
    padding-top: 100px;

}
.attribution { font-size: 12px; text-align: center; font-family: Calibri;}
.attribution a { color: hsl(228, 70%, 71%); }